* {
box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

/* -----------------------------------------*/
/* :::: ENCABEZADO :::: */
/* -----------------------------------------*/

header {
    background-color:#EAC926;
    padding: 10px;
    width: 100%;
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.top-header a {
    width: 50%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.top-header .logo {
    padding: 10px 10px;
    width: 100%;
}

.top-header p {
    font-size: 18px;
    padding: 10px;
    text-align: center;
    margin:auto
}

.top-header p i {
    margin: 0px 10px;
}


.buscador {
  display: flex;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
}

.buscador input[type="text"] {
  width: 100%;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  padding: 8px;
  margin-left: 20px;
  
}

.buscador button[type="submit"] {
  background-color: white;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: #ebebeb solid 0.5px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 0 5px 5px 0; 
  margin-right: 20px; 
}

.buscador button[type="submit"]:hover {
  background-color: #888;
}

.buscador .fa-search {
  color:gray ;
}

.buscador .fa-search:hover {
    color: white ;
}

.boton-hamburgesa {
    background-color: #1259c3;
    color: #ffffff;
    max-width: 50px;
    padding: 15px 0;
    margin: auto;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    display: block;
}

/* -----------------------------------------*/
/* :::: BARRA DE NAVEGACIÓN :::: */
/* -----------------------------------------*/

nav {
    display: none;
    font-size: 16px;
    padding: 10px;
}

nav ul {
    display: flex; 
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

nav ul li a {
    text-decoration: none;
    color:#000
}

/* -----------------------------------------*/
/* :::: MAIN :::: */
/* -----------------------------------------*/

main {
    margin: 0 auto;
    width: 90vw;
}

h2 {
    
    box-sizing: border-box;
}

.banner-img {
    width: 100%;
    justify-content: center;
}

main section article {
   margin-bottom: 10px;
   text-align: center;
   transition: all 450ms;
}

main section article img {
    width: 100%;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a ;
    background-color: #FFF;
    color: #39b54a;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 450ms;
    }

.info-article {
    border-top: 1px solid #ebebeb;
    flex-wrap: wrap;
    padding: 15px;
    position: relative;
    display: flex;
    width: 100%;
    background-color: white;
    margin-top: 0px;
    align-items: center;
}

.precio {
    width: 40%;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    text-align: left;
}

.descuento {
    width: 60%;
    color:#39b54a;
    margin: 0;
    
}

.nombre-producto {
    display: none;
    color: #888;
    margin: 5px 0px 0px 0px;
    transition: all 450ms;
}

/* -----------------------------------------*/
/* :::: FOOTER :::: */
/* -----------------------------------------*/

footer {
    background-color: white;
    text-align: center;
}

.info-footer {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    color: #666;
    justify-content: space-around;
    align-items: top;
}

footer div {
    padding: 10px 30px 0px 30px;
    margin-top: 20px;
}

footer div i {
    color: #1259c3;
    font-size: 2em;
    margin-top: 0px;
}

footer h3 {
    font-size: medium;
}

footer p {
    font-size: small;
}

/* -----------------------------------------*/
/* :::: FORMULARIO DE REGISTRO Y LOGIN :::: */
/* -----------------------------------------*/

.formulario {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}

form div div {
    padding: 10px; 
    margin-left: 20px
}

.label-principal {
    font-weight:bold;
    font-size: 16px;
}

.formulario button {
    border: none;
    background-color: #1259c3;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.container-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-button a {
    display:flex;
    width: 47%;
    text-decoration: none;
}

.container-button-login a {
    width: 100%;
}

.formulario button:hover {
    background-color: #0022AA;
    cursor: pointer;
  }
  
.input-normal {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 20px 0px;
    border-radius: 5px;
    border: none;
    color: black;
    font-weight: 400px;
    }

.container-radio {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container-radio input {
      margin-right: 15px;  
}

.container-radio {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container-radio label {
    margin-right: 30px;  
}

.container-checkbox input {
    margin-right: 20px;
}

.container-checkbox div{
    padding: 3px;
}


/* -----------------------------------------*/
/* :::: MEDIA QUERY :::: */
/* -----------------------------------------*/

@media (min-width: 481px) {
/* ::::::: HEADER ::::::: */

    .top-header a {
        width: 35%;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    .top-header .logo {
        padding: 10px 10px;
        width: 100%;
    }
    .top-header p {
        font-size: 18px;
        padding: 10px;
        text-align: center;
        margin:auto;
        width: 30%;
    }
    .top-header p i {
        margin: 0px 10px;
    }
    .buscador {
      display: flex;
      align-items: center;
      width: 35%;
      box-sizing: border-box;
    }
    /* ::::::: FIN HEADER :::::::: */

    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    article:hover .nombre-producto {
        display: block;
    }

    article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    article:hover i {
        transform: rotate(270deg);  
    }

    
    footer div i:hover {
        color: #EAC926;
    }

    nav ul li a:hover {
    font-weight: 600;
    color:white
    }
    
    main section article {
       width: 45%;
    } 

    header nav {
        display: flex;
        justify-content: space-between; 
        width: 100%;
        margin-top: 5px;
        align-items: center;
    }

    .boton-hamburgesa {
        display: none;
    }
    footer div {
        width: 60%;
    }
}


@media (min-width: 769px) {
    main section article {
        width: 22.5%;
    }
    footer div {
        width: 30%;
    }
}